html {
  font-size: 0.8rem;
  min-width: 30rem;
}

body {
  /* width: 15rem; */
  /* min-width: 30rem; */
  margin: 0;
}

@media (min-width: 768px) {
  .container-md {
    max-width: 720px !important;
  }
}

.thumbnail {
  padding-right: 2rem;
}

.thumbnail-img {
  max-width: 100%;
  height: auto;
}

#panel {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

#panel.no-transition {
  transition: none !important;
}

.relative {
  position: relative;
}

.relative span {
  position: absolute;
  right: 5.5rem;
  z-index: 1000;
}

.relative span svg {
  background-color: #fff;
  border-radius: 3px;
}

.relative #api-clear-button {
  position: absolute;
  right: 0.5rem;
  z-index: 1000;
}

.relative #filename-clear-button {
  position: absolute;
  right: 0.5rem;
  z-index: 1000;
}

.relative span svg:hover {
  cursor: pointer;
  background-color: #dddddd;
}